# Primitive Data Types
A primitive data type specifies the size and type of variable values, and it has no additional methods.

There are eight primitive data types in Java:

|Data Type|Size|Description|
|:------|------:|:--------------------------------------------------------------------------------|
|byte   |1 byte |Stores whole numbers from -128 to 127                                            |
|short  |2 bytes|Stores whole numbers from -32,768 to 32,767                                      |
|int    |4 bytes|Stores whole numbers from -2,147,483,648 to 2,147,483,647                        |
|long   |8 bytes|Stores whole numbers from -9,223,372,036,854,775,808 to 9,223,372,036,854,775,807|
|float  |4 bytes|Stores fractional numbers. Sufficient for storing 6 to 7 decimal digits          |
|double |8 bytes|Stores fractional numbers. Sufficient for storing 15 decimal digits              |
|boolean|1 bit  |Stores true or false values                                                      |
|char   |2 bytes|Stores a single character/letter or ASCII values                                 |

## Numbers

In [ ]:
byte myNum = 100;
System.out.println(myNum);

In [ ]:
short myNum = 5000;
System.out.println(myNum);

In [ ]:
int myNum = 100000;
System.out.println(myNum);

In [ ]:
long myNum = 15000000000L;
System.out.println(myNum);

In [ ]:
float myNum = 5.75f;
System.out.println(myNum);

In [ ]:
double myNum = 19.99d;
System.out.println(myNum);

In [ ]:
float f1 = 35e3f;
double d1 = 12E4d;
System.out.println(f1);
System.out.println(d1);

## Booleans
A boolean data type is declared with the `boolean` keyword and can only take the values `true` or `false`.

In [ ]:
boolean isJavaFun = true;
boolean isFishTasty = false;
System.out.println(isJavaFun);     // Outputs true
System.out.println(isFishTasty);   // Outputs false

## Characters
The `char` data type is used to store a single character. The character must be surrounded by **single quotes**, like 'A' or 'c'.

In [ ]:
char myGrade = 'B';
System.out.println(myGrade);

A list of all ASCII values can be found in our [ASCII Table](https://www.w3schools.com/charsets/ref_html_ascii.asp) Reference.

In [51]:
char a = 65, b = 66, c = 67;
System.out.println(a);
System.out.println(b);
System.out.println(c);

A
B
C

## Math

|Method|Description|Return Type|
|---|---|---|
|**Random**|
|random()|Returns a random number between 0 and 1|double|
|**Sign**|
|abs(x)|Returns the absolute value of x|double/float/int/long|
|signum(x)|Returns the sign of x|double|
|**Rounding**|
|ceil(x)|Returns the value of x rounded up to its nearest integer|double|
|floor(x)|Returns the value of x rounded down to its nearest integer|double|
|round(x)|Returns the value of x rounded to its nearest integer|int|
|**Min/Max**|
|max(x, y)|Returns the number with the highest value|double/float/int/long|
|min(x, y)|Returns the number with the lowest value|double/float/int/long|
|**Power and Logorithms**|
|pow(x, y)|Returns the value of x to the power of y|double|
|sqrt(x)|Returns the square root of x|double|
|cbrt(x)|Returns the cube root of x|double|
|exp(x)|Returns the value of Ex|double|
|expm1(x)|Returns ex -1|double|
|log(x)|Returns the natural logarithm (base E) of x|double|
|log10(x)|Returns the base 10 logarithm of x|double|
|log1p(x)|Returns the natural logarithm (base E) of the sum of x and 1|double|
|getExponent(x)|Returns the unbiased exponent used in x|int|
|**Trigonometry**|
|cos(x)|Returns the cosine of x (x is in radians)|double|
|sin(x)|Returns the sine of x (x is in radians)|double|
|tan(x)|Returns the tangent of an angle|double|
|cosh(x)|Returns the hyperbolic cosine of a double value|double
|sinh(x)|Returns the hyperbolic sine of a double value|double|
|tanh(x)|Returns the hyperbolic tangent of a double value|double|
|acos(x)|Returns the arccosine of x, in radians|double|
|asin(x)|Returns the arcsine of x, in radians|double|
|atan(x)|Returns the arctangent of x as a numeric value between -PI/2 and PI/2 radians|double|
|atan2(y,x)|Returns the angle theta from the conversion of rectangular coordinates (x, y) to polar coordinates (r, |theta).|double|
|toDegrees(x)|Converts an angle measured in radians to an approx. equivalent angle measured in degrees|double|
|toRadians(x)|Converts an angle measured in degrees to an approx. angle measured in radians|double|

In [52]:
Math.max(5, 10);

10

In [53]:
Math.min(5, 10);

5

In [54]:
(float) Math.sqrt(64d);

8.0

In [55]:
Math.random()

0.5657105584999466

In [56]:
(int)Math.floor(Math.random() * 1000)

508

# Wrapper Classes
Wrapper classes provide a way to use primitive data types (int, boolean, etc..) as objects.

The table below shows the primitive type and the equivalent wrapper class:

|Primitive Data Type|Wrapper Class|
|---|---|
|byte|Byte|
|short|Short|
|int|Integer|
|long|Long|
|float|Float|
|double|Double|
|boolean|Boolean|
|char|Character|

Sometimes you must use wrapper classes, for example when working with Collection objects, such as ArrayList, where primitive types cannot be used (the list can only store objects):
```
ArrayList<int> myNumbers = new ArrayList<int>(); // Invalid
ArrayList<Integer> myNumbers = new ArrayList<Integer>(); // Valid
```

# Non-Primitive Data Types
Non-primitive data types are called reference types because they refer to objects.

## Strings
The `String` data type is used to store a sequence of characters (text). String values must be surrounded by **double quotes**.

In [57]:
String greeting = "Hello World";
System.out.println(greeting);

Hello World

The String type is so much used and integrated in Java, that some call it "the special ninth type".

A String in Java is actually a non-primitive data type, because it refers to an object. The String object has methods that is used to perform certain operations on strings.

Strings are immutable in java

### Length
Length is a method, not property:

In [58]:
System.out.println("The length of the greeting string is: " + greeting.length());

The length of the greeting string is: 11

### Change string case

In [59]:
System.out.println(greeting.toUpperCase());
System.out.println(greeting.toLowerCase());

HELLO WORLD
hello world

### Find subscting in string

In [60]:
System.out.println(greeting.indexOf("World"))

6

### String Concatenation

In [61]:
String firstName = "John";
String lastName = "Doe";
System.out.println(firstName + " " + lastName);

John Doe

## String Builder

In [62]:
String[] words = {"One", "Two", "Three"};
StringBuilder sentence = new StringBuilder();
for (String word: words) {
    sentence.append(word);
    sentence.append(" ");
}
System.out.println(sentence.toString());

One Two Three

## Arrays
Arrays are used to store multiple values in a single variable, instead of declaring separate variables for each value. To declare an array, define the variable type with square brackets.

In [63]:
String[] cars = {"Volvo", "BMW", "Ford", "Mazda"};

In [64]:
for (int i = 0; i < cars.length; i++) {
  System.out.println(cars[i]);
}

Volvo
BMW
Ford
Mazda

In [65]:
for (String i : cars) {
  System.out.println(i);
}

Volvo
BMW
Ford
Mazda

Length is a property, not method:

In [66]:
int[] myNum = new int[4];
for (int i = 1; i < 5; i++) {
    myNum[i - 1] = 10*i;
}
System.out.println(myNum[myNum.length-1]);

40

Length of array is immutable

In [67]:
myNum[0]=5;
System.out.println(myNum[0]);

5

In [90]:
int[] arr1 = { 0, 1, 2, 3, 4, 5 };
int[] arr2 = { 5, 10, 20, 30, 40, 50 };

System.arraycopy(arr1, 0, arr2, 0, 3);

for (int i: arr2) {
    System.out.println(i);
}

0
1
2
30
40
50

## ArrayList

### Init

In [69]:
import java.util.ArrayList;

ArrayList<String> cars = new ArrayList<String>();

### Add to the end

In [70]:
cars.add("Volvo");
cars.add("BMW");
cars.add("Ford");
cars.add("Mazda");
System.out.println(cars);

[Volvo, BMW, Ford, Mazda]

### Set by index

In [71]:
cars.set(0, "Opel");
System.out.println(cars);

[Opel, BMW, Ford, Mazda]

### Get

In [72]:
cars.get(0);

Opel

### Remove

In [73]:
cars.remove(0);
System.out.println(cars);

[BMW, Ford, Mazda]

### Size

In [74]:
cars.size();

3

### Loop through

In [75]:
for (String i : cars) {
  System.out.println(i);
}

BMW
Ford
Mazda

### Clear

In [76]:
cars.clear();
System.out.println(cars);

[]

### Sort

In [77]:
import java.util.Collections;

ArrayList<Float> myNumbers = new ArrayList<Float>();
myNumbers.add(33f);
myNumbers.add(15f);
myNumbers.add(20f);
myNumbers.add(34f);
myNumbers.add(8f);
myNumbers.add(12f);

Collections.sort(myNumbers);  // Sort myNumbers

for (float i : myNumbers) {
  System.out.println(i);
}

8.0
12.0
15.0
20.0
33.0
34.0

## HashMap

### Init

In [78]:
import java.util.HashMap;

HashMap<String, String> capitalCities = new HashMap<String, String>();

### Add

In [79]:
capitalCities.put("England", "London");
capitalCities.put("Germany", "Berlin");
capitalCities.put("Norway", "Oslo");
capitalCities.put("USA", "Washington");
System.out.println(capitalCities);

{USA=Washington, Norway=Oslo, England=London, Germany=Berlin}

### Set

In [80]:
capitalCities.put("USA", "Washington DC");
System.out.println(capitalCities);

{USA=Washington DC, Norway=Oslo, England=London, Germany=Berlin}

### Get

In [81]:
capitalCities.get("England");

London

### Remove

In [82]:
capitalCities.remove("England");
System.out.println(capitalCities);

{USA=Washington DC, Norway=Oslo, Germany=Berlin}

### Size

In [83]:
capitalCities.size();

3

### Loop through

In [84]:
for (String i : capitalCities.keySet()) {
  System.out.println(i + ": " + capitalCities.get(i));
}

USA: Washington DC
Norway: Oslo
Germany: Berlin

### Clear

In [85]:
capitalCities.clear();